<div class="custom-modal" [class.open]="activeMethod() !== null">
  <div class="modal-backdrop" (click)="closeModal()"></div>
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">
          <i [ngClass]="activeMethod() === 'email' ? 'ri-mail-line' : 'ri-phone-line'"></i>
          Şifre Sıfırlama ({{ activeMethod() === 'email' ? 'E-posta' : 'SMS' }})
        </h5>
        <button type="button" class="btn-close" (click)="closeModal()">&times;</button>
      </div>

      <div class="modal-body">
        @if (currentResetStep() === 1) {
        <div class="reset-form">
          <div class="reset-header">
            <i [ngClass]="activeMethod() === 'email' ? 'ri-mail-send-line' : 'ri-smartphone-line'"></i>
            <h6>{{ activeMethod() === 'email' ? 'E-posta Adresinizi Girin' : 'Telefon Numaranızı Girin' }}</h6>
            <p>{{ activeMethod() === 'email' ? 'Şifre sıfırlama bağlantısını e-posta adresinize göndereceğiz' :
              'Şifre sıfırlama kodunu telefonunuza SMS olarak göndereceğiz.' }}</p>
          </div>

          <form class="login-form" #firstStepForm="ngForm" (ngSubmit)="sendResetCode()">
            <div class="form-group">
              <label class="form-label">{{ activeMethod() === 'email' ? 'E-posta Adresi' : 'Telefon Numarası' }}</label>
              <div class="input-custom-group">
                <span class="input-icon">
                  <i [ngClass]="activeMethod() === 'email' ? 'ri-mail-line' : 'ri-phone-line'"></i>
                </span>

                @if (activeMethod() === 'email') {
                <input type="email" name="resetEmail" [(ngModel)]="resetModel.email" placeholder="login@rentcar.com"
                  required autofocusDirective>
                } @else {
                <input type="text" name="resetPhone" [ngModel]="resetModel.phoneNumber | phoneFormatPipe"
                  (ngModelChange)="resetModel.phoneNumber = $event" placeholder="Sms için TEL NO. giriniz." required autofocusDirective>
                }
              </div>
            </div>
            <div class="security-note">
              <i class="ri-information-line"></i>
              <small>Güvenlik nedeniyle sadece sistemde kayıtlı olan bilgilerinize doğrulama kodu gönderilir.</small>
            </div>
          </form>
        </div>
        }

        @if (currentResetStep() === 2) {
        <div class="reset-form">
          <div class="reset-header">
            <i class="ri-shield-keyhole-line text-primary" style="font-size: 2.5rem;"></i>
            <h6>Doğrulama Kodunu Girin</h6>
            <p>
              <strong>{{ activeMethod() === 'email' ? resetModel.email : resetModel.phoneNumber }}</strong>
              adresine gönderilen 6 haneli kodu ve yeni şifrenizi girin.
            </p>
          </div>

          <form class="login-form" #resetForm="ngForm" (ngSubmit)="completePasswordReset()" autocomplete="none">
            <div class="form-group mb-3">
              <label class="form-label">Doğrulama Kodu</label>
              <div class="input-custom-group">
                <span class="input-icon">
                  <i class="ri-lock-password-line"></i>
                </span>
                <input type="text" name="resetCode" [ngModel]="resetModel.code | codeFormatPipe"
                  (ngModelChange)="resetModel.code = $event" placeholder="6 haneli kodu girin" maxlength="7" class="form-control"
                  required autofocusDirective autocomplete="one-time-code">
              </div>
            </div>

            <div class="form-group mb-3">
              <label class="form-label">Yeni Şifre</label>
              <div class="input-custom-group">
                <span class="input-icon">
                  <i class="ri-key-2-line"></i>
                </span>

                <input type="password" name="newPassword" #mainPassword [(ngModel)]="resetModel.newPassword"
                  [passwordValidationDirective]="passwordError" [togglePasswordDirective]="newToggleBtn"
                  #newPassToggle="toggleDir" placeholder="Yeni şifre" class="form-control" required>

                <button type="button" class="password-toggle" (click)="newPassToggle.toggle()">
                  <i #newToggleBtn class="ri-eye-off-line"></i>
                </button>
              </div>
              <div #passwordError class="error-container"></div>
            </div>

            <div class="form-group mb-3">
              <label class="form-label">Yeni Şifre Tekrarı</label>
              <div class="input-custom-group">
                <span class="input-icon">
                  <i class="ri-key-2-line"></i>
                </span>

                <input type="password" name="confirmPassword" [(ngModel)]="resetModel.confirmPassword"
                  [confirmPasswordValidationDirective]="confirmPasswordError" [mainPasswordInput]="mainPassword"
                  [togglePasswordDirective]="confirmToggleBtn" #confirmPassToggle="toggleDir"
                  placeholder="Şifre tekrarı" class="form-control" required>

                <button type="button" class="password-toggle" (click)="confirmPassToggle.toggle()">
                  <i #confirmToggleBtn class="ri-eye-off-line"></i>
                </button>
              </div>
              <div #confirmPasswordError class="error-container"></div>
            </div>

          </form>
        </div>
        }
      </div>

      <div class="modal-footer">
        <button type="button" class="btn-iptal" (click)="closeModal()">İptal</button>

        @if (currentResetStep() === 1) {
        <button type="button" class="btn-button" (click)="sendResetCode()"
          [disabled]="activeMethod() === 'email' ? !resetModel.email : !resetModel.phoneNumber">
          @if (sendLoading()) {
          <mat-spinner diameter="20"></mat-spinner>
          } @else {
          <i class="ri-send-plane-line"></i>
          <span>Gönder</span>
          }
        </button>
        } @else if(currentResetStep() === 2) {
        <button type="button" class="btn-button" (click)="completePasswordReset()" [disabled]="isResetButtonDisabled">
           @if (sendLoading()) {
            <mat-spinner diameter="20"></mat-spinner>
           } @else {
             <i class="ri-check-line"></i> 
             <span>Şifreyi Güncelle</span>
           }
        </button>
        }
      </div>

    </div>
  </div>
</div>